<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <a href="/">index</a>
    <br>
    <a href="/connect">connect</a>
    <br>
    <a href="/precheck">precheck</a>
    <br>
    <a href="/takeoff">takeoff</a>
    <br>
    <a href="/land">land</a>
    <br>
    <a href="/goto">goto</a>
    <br>
    <a href="/update">update</a>
    <br>
    <a href="/restart">restart</a>
    <br>
    <a href="/service_status">service_status</a>
    <br>
    <a href="/test">test</a>
    <br>
    <a href="/log/mavproxy">mavproxy log</a>
    <br>
    <a href="/log/flaskr">flaskr log</a>
    <br>
    <a href="/proxy">proxy</a>
    <br>
    <a href="/status">status</a>
    <br>
    <a href="/goto_north">goto_north</a>
    <br>
    <a href="/goto_east">goto_east</a>
    <br>
    <a href="/goto_down">goto_down</a>
</body>

</html>